html
    head
        title Two2er REST API
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    body(style='margin: 1em')
        table(class='table table-striped')
            caption #{captionSection}
            thead
                tr
                    th method
                    th endpoint
            tbody
            for userRoute in userRoutes
                tr
                    for entry in userRoute
                        td= entry
                    
            for tutorRoute in tutorRoutes
                tr
                    for entry in tutorRoute
                        td= entry
            
            for studentRoute in studentRoutes
                tr
                    for entry in studentRoute
                        td= entry
    
            for tutorLocationRoute in tutorLocationRoutes
                tr
                    for entry in tutorLocationRoute
                        td= entry

            for studentLocationRoute in studentLocationRoutes
                tr
                    for entry in studentLocationRoute
                        td= entry
            for bookingRoute in bookingRoutes
                tr
                    for entry in bookingRoute
                        td= entry
            for subjectRoute in subjectRoutes
                tr
                    for entry in subjectRoute
                        td= entry